# Main Requirements
-r requirements.txt

# Core Testing Packages
pytest
pytest-timeout
pytest-xdist
pytest-mock
pytest-cov

# Linting
pylint
mypy
autopep8
bandit

# SSOT spec tooling
pyyaml
types-PyYAML
jsonschema
antlr4-tools
antlr4-python3-runtime

# Security Analysis
pip-audit

# Code Formatting
black
isort
